:root {
  --color-accent: oklch(65% 50% 0);
}

html, body {
  accent-color: var(--color-accent);
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}



body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    margin-inline: max(1em, (100% - 100ch) / 2);
 
 }


nav {
  display: flex;
  color: inherit;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  margin-bottom: 1em;
  --border-color: oklch(50% 10% 200 / 40%);
 
}

nav ol {
    display: contents;
    
}

nav li {
    display: contents;
 
}

.color-scheme {
  position: absolute;
  top: 2rem;
  right: 1rem;
}


nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  
}


.current {
  border-bottom-width: .4em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

a:hover {
  border-bottom: 2px solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display:grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 0 1em;

}